<div class="container">                     
    <div class="dt-sc-tabs-container animate animated fadeInLeft" data-delay="100" data-animation="animated fadeInLeft">
        <br /><br /><br />
        <h3 class="border-title"  style= "margin-top: 150px;">
            Security Guard Service for Apartments
        </h3>
        <div class="clear"></div>
        <div class="dt-sc-tabs-frame-content" style="display: block;">
            <div class="col-md-7">
                <p>
                BlackStone Security provides Apartments Security Guard Services and Residential Security Services across the areas in Bangalore.

                We offer our Security Services only after completely understanding the definite service requirement and then planning them purposefully to provide total satisfaction to the clients. We uphold the quality & dependability of our wide range of service. We by no means disappoint our clients in any condition and have perpetually endeavored to defend their lives and their possessions & properties.
                </p>
            </div>
            <div class="col-md-5">
                <img src="<%= asset_url('sub1.jpg') %>" alt="" title="" />
            </div>
        </div>
</div>
<br><br><br><br>

     <div class="dt-sc-tabs-container animate animated fadeInLeft" data-delay="100" data-animation="animated fadeInLeft">
        <h3 class="border-title">
           Security Guard Service for Hotels
        </h3>
        <div class="clear"></div>
        <div class="dt-sc-tabs-frame-content" style="display: block;">
            <div class="col-md-7">
                <p>
                The hospitality sector is one of the most demanding areas of business. With hotel standards subject to constant scrutiny it’s imperative that you have nothing less than the best when it comes to your hotel security. As a sector which relies heavily on reputation alone just one lapse in your security could have a detrimental effect on your status and therefore your future business.
                This is why here at BlackStone Security, we have supreme hotel security services to provide your guests with the comfort, customer service and protection they expect during their stay. With existing experience with leading hotel chains, we deliver the best service possible to ensure the peace of mind for your guests. 
                </p>
            </div>
            <div class="col-md-5">
                <img src="<%= asset_url('sub2.jpg') %>" alt="" title="" />
            </div>
        </div>
 </div>
<br><br><br><br>
  <div class="dt-sc-tabs-container animate animated fadeInLeft" data-delay="100" data-animation="animated fadeInLeft">

        <h3 class="border-title">
            Security Guard Service for Schools/Educational Institutions

        </h3>
        <div class="clear"></div>
        <div class="dt-sc-tabs-frame-content" style="display: block;">
            <div class="col-md-7">
                <p>
                When it comes to educational institutes, tackling security in an efficient and effective manner can pose a huge challenge. With schools / educational institutes encompassing a diverse range of people, a vast variety of buildings from accommodation blocks through to libraries, you need a solution that has the flexibility to cater to a variety of situations. This is where BlackStone Security have devised the perfect school/educational institutions security service which offers the much customized service to guarantee your institute the level of protection it needs.
                </p>
                <p>
                Considering the Schools are being the most vulnerable place for potential misconduct with children, we make sure that the Security Guards we deploy, are fully background checked and police verified to avoid any potential misconduct.

                If you’re looking to hire security services for schools or security services for educational institutes you know who to call. 

                </p>
            </div>
            <div class="col-md-5">
                <img src="<%= asset_url('sub3.jpg') %>" alt="" title="" />
            </div>
        </div>
</div>

<br><br><br><br>
 <div class="dt-sc-tabs-container animate animated fadeInLeft" data-delay="100" data-animation="animated fadeInLeft">
        <h3 class="border-title">
            Security Guard Service for Retail Business Premises

        </h3>
        <div class="clear"></div>
        <div class="dt-sc-tabs-frame-content" style="display: block;">
            <div class="col-md-7">
                <p>
                BlackStone Security provide security guard services to Shopping Malls, Jewelry Showrooms, and Clothing Stores across areas in Bangalore.

                Our security services are perfectly executed by our Security Guards who can serve you round the clock in such a way that you can expect peaceful and safe atmosphere for carrying out your work smoothly. These recruits are designated based of their approach of professionalism, and also based on their physical suitability in addition to abilities to challenge dangerous circumstances.
                </p>
            </div>
            <div class="col-md-5">
                <img src="<%= asset_url('sub4.jpg') %>" alt="" title="" />
            </div>
        </div>
    </div>


<br><br><br><br>

    <div class="dt-sc-tabs-container animate animated fadeInLeft" data-delay="100" data-animation="animated fadeInLeft">
        <h3 class="border-title">
            Security Guard Service for Hospitals

        </h3>
        <div class="clear"></div>
        <div class="dt-sc-tabs-frame-content" style="display: block;">
            <div class="col-md-7">
                <p>
                As with any industry, manpower is a necessary part of a successful business. That’s why professional security guards are a fundamental aspect of our company, fully inspected and trained to the highest of standards. First aid trained, our officers can also provide dual roles – from undertaking security duties to fulfilling administration responsibilities. Whether your business needs long or short term cover, we can provide security services for Hospitals to meet your requirements.
                </p>
            </div>
            <div class="col-md-5">
                <img src="<%= asset_url('sub5.jpg') %>" alt="" title="" />
            </div>
        </div>
    </div>


<br><br><br><br>
    <div class="dt-sc-tabs-container animate animated fadeInLeft" data-delay="100" data-animation="animated fadeInLeft">
        <h3 class="border-title">
           Security Guard Service for Corporate Offices

        </h3>
        <div class="clear"></div>
        <div class="dt-sc-tabs-frame-content" style="display: block;">
            <div class="col-md-7">
                <p>
               As the first point of contact for not only your staff but the general public, those who you employ to look after your front office has a huge impact on your business as a whole. This is why here at BlackStone Security we combine unbeatable office security guards with specific skillsets to ensure you have a safe, secure and comfortable environment
 </p>
 <p>
                Becoming part of your team our security officers will often have the most contact with everyone who enters your building, which not only means they need great customer skills but also means they have to deal with a variety of circumstances. Whether you have unruly, abusive intruders who are trying to force their way through your access points or you have a lost, confused visitor who needs assistance, our office security guards have the capability to handle a host of situations.
</p>
<p>
                Understanding that security is a huge part of keeping everything surrounding your office safe, from expensive equipment to invaluable customer data, we know how important it is that we keep your premise secure at all times, especially out of office hours when you’re most vulnerable. By doing this we help you avoid any exploitation or damage to your office both reputationally and financially.
</p>
<p>
                With our office security measures not only can we ensure your material assets are covered but perhaps more importantly we’ll maintain that feeling of comfort your employees need every day in their workplace. Ensuring this peace of mind whilst giving you the opportunity to create a personalised service which can integrate added extras on your request, from telephony duties to general maintenance, when you choose BlackStone Security you get a service dedicated to your exact needs.

                By hiring office security guards with BlackStone Security, we can give your workplace that level of protection and welcoming atmosphere that makes your environment that enjoyable and safe place to be.
                </p>
            </div>
            <div class="col-md-5">
                <img src="<%= asset_url('sub6.jpg') %>" alt="" title="" />
            </div>
        </div>
    </div>

    </div>
    <div class="hr-invisible-medium"></div>
