<div class="container" style="margin-top: 120px;">                     
    <div class="dt-sc-tabs-container animate animated fadeInLeft" data-delay="100" data-animation="animated fadeInLeft">
        <div class="col-md-9">
            <% if user_signed_in? %>
            <%= link_to "New Service", new_service_path(@service), class: "btn btn-success z-btn"%>
            <% end %>
        </div>
        <div class="clear"></div>
        <h3 class="border-title">
            <%= @service.title %>
        </h3>
        <div class="dt-sc-tabs-frame-content" style="display: block;">
            <div class="col-md-6">
            	<%= image_tag @service.image.url, style: "margin: 0 auto; display: block" %>
            </div>
            <div class="col-md-6">
                <p>
                    <%= raw @service.description %>
                </p>
                </div>
                <% if user_signed_in? %>
                <%= link_to "Edit", edit_service_path(@service), class: "btn btn-success z-btn" %>
                <%= link_to "Delete", service_path(@service), class: "btn btn-danger z-btn", method: :delete, data: { confirm: 'Are you sure?' } %>
                <% end %>
            </div>

            <div class="hr-invisible-medium"></div>
            <% if !Service.find_by(title: "Reception Services").present? %>
            <div class="column dt-sc-one-third first">
                <div class="dt-sc-ico-content type3 animate" data-delay="100" data-animation="animated fadeIn">
                    <div class="icon">
                        <img src="<%= asset_url('1.jpg') %>" alt="" title="" /> 
                    </div>
                    <h5>
                        <a target="_blank" href="#"> Retail Business Premises </a>
                    </h5>
                </div>
            </div>
            <div class="column dt-sc-one-third">
                <div class="dt-sc-ico-content type3 animate" data-delay="300" data-animation="animated fadeIn">
                    <div class="icon">
                        <img src="<%= asset_url('2.jpg') %>" alt="" title="" />
                    </div>
                    <h5>
                        <a target="_blank" href="#"> Hotels </a>
                    </h5>
                </div>
            </div>
            <div class="column dt-sc-one-third">
                <div class="dt-sc-ico-content type3 animate" data-delay="500" data-animation="animated fadeIn">
                    <div class="icon">
                        <img src="<%= asset_url('3.jpg') %>" alt="" title="" />
                    </div>
                    <h5>
                        <a target="_blank" href="#"> Schools/Educational Institutions </a>
                    </h5>
                </div>
            </div>
            <div class="hr-invisible-medium"></div>
            <div class="column dt-sc-one-third first">
                <div class="dt-sc-ico-content type3 animate" data-delay="100" data-animation="animated fadeIn">
                    <div class="icon">
                        <img src="<%= asset_url('4.jpg') %>" alt="" title="" /> 
                    </div>
                    <h5>
                        <a target="_blank" href="#"> Apartments </a>
                    </h5>
                </div>    
            </div>
            <div class="column dt-sc-one-third">
                <div class="dt-sc-ico-content type3 animate" data-delay="300" data-animation="animated fadeIn">
                    <div class="icon">   
                        <img src="<%= asset_url('5.jpg') %>" alt="" title="" />                
                    </div>
                    <h5>
                        <a target="_blank" href="#"> Residences  </a>
                    </h5>
                </div>
            </div>
            <div class="column dt-sc-one-third">
                <div class="dt-sc-ico-content type3 animate" data-delay="500" data-animation="animated fadeIn">
                    <div class="icon">    
                        <img src="<%= asset_url('6.jpg') %>" alt="" title="" />
                    </div>
                    <h5>
                        <a target="_blank" href="#"> Construction Sites </a>
                    </h5>                           
                </div>
            </div>
            <div class="hr-invisible-medium"></div>
            <div class="column dt-sc-one-third first">
                <div class="dt-sc-ico-content type3 animate" data-delay="100" data-animation="animated fadeIn">
                    <div class="icon">
                        <img src="<%= asset_url('7.jpg') %>" alt="" title="" /> 
                    </div>
                    <h5>
                        <a target="_blank" href="#"> Factories/Industries </a>
                    </h5>
                </div>    
            </div>
            <div class="column dt-sc-one-third">
                <div class="dt-sc-ico-content type3 animate" data-delay="300" data-animation="animated fadeIn">
                    <div class="icon">   
                        <img src="<%= asset_url('8.jpg') %>" alt="" title="" />
                    </div>
                    <h5>
                        <a target="_blank" href="#"> Hospitals </a>
                    </h5>
                </div>
            </div>
            <div class="column dt-sc-one-third">
                <div class="dt-sc-ico-content type3 animate" data-delay="500" data-animation="animated fadeIn">
                    <div class="icon">    
                        <img src="<%= asset_url('9.jpg') %>" alt="" title="" />
                    </div>
                    <h5>
                        <a target="_blank" href="#"> Shopping Malls </a>
                    </h5>
                </div>
            </div>
            <div class="hr-invisible-medium"></div>
            <% end %>
        </div>
    </div>
</div>
<%#= link_to 'Edit', edit_service_path(@service) %> |
<%#= link_to 'Back', services_path %>

<div class="hr-invisible-medium"></div>