<div class="container">                     
    <div class="dt-sc-tabs-container animate animated fadeInLeft" data-delay="100" data-animation="animated fadeInLeft">
        <br /><br /><br />
        <h3 class="border-title">
            Services
        </h3>

        <p>
            BlackStone Security understands the market and we have devised a range of adaptable services to meet ever-changing demands. These include:
        </p>
        <div class="clear"></div>
        <ul class="dt-sc-tabs-frame">   
            <li><%= link_to security_path, class: "dt-sc-animation-eff1 current" do %> SECURITY SERVICES <% end %></li>
            <li><%= link_to facilities_path, class: "dt-sc-animation-eff1" do %> FACILITIES SERVICES <% end %></li>
            <li><%= link_to reception_path, class: "dt-sc-animation-eff1" do %> RECEPTION SERVICES <% end %></li>
        </ul>                            
        <div class="dt-sc-tabs-frame-content" style="display: block;">
            <div class="">
                <p>
                    We take real pride in delivering the highest levels of service to our prestigious client base. With many years of industry expertise and knowledge, we ensure the right solution is delivered every time.
                </p>
                <h3>Apartment Security Guard Service: </h3>
                <p>
                   Robbery and other illegal activities are highly increased due to lack of security and careless at apartment locations. We mainly provide security services in Bangalore for apartments. We have truly reliable employees so now apartments and other office environments require our security services. We have fully trained security guards so we can provide 24/7 security services without any complaints.  Mostly apartments look big so thieves can easily rob the assets but our security guards help common people get rid from fear of robbing and our effective monitoring services will make you safe in effective manner. 
               </p>

                <p>Security Guards With Spy Eye For Your Construction Site</p>
                <p>
                    Actually we have more than 1000 security guards so we can give prominent solution for our clients who need prior security for apartments. The Warrior Securitas also provides bouncers, bodyguards and other guarding training. We need only reasonable service fee so today we have more than hundreds of clients in Bangalore. Mostly our security service provides guarding support for big apartments and other big homes. We can help our clients to avoid the situation of asset loss. We are now serving for many reputed apartments in Bangalore. 
                </p>

                <h3>Security Guard Service for Hotels:</h3>
                <p>
                    The guest, who comes to a particular hotel, comes with an understanding that he and his belongings both will be safe and secure during his stay at the hotel. At the same time it is also quite important that the hotel staff and assets are protected and secure. Hence it is very important to have a proper Safety and Security system in place to protect staff, guests and physical resources and assets such as equipment, appliances buildings, gardens of the hotel and also the belongings of the guest. Safety and Security is always the first priority towards guest service.
                </p>

                <h3>Security Guard Service for Schools/Educational Institutions:</h3>
                <p>
                   We provide great range of security services to your organization to solve the problems you are facing in your field, to beat all the challenges and to improve the core business of your company with the real time and sophisticated solutions. We always give individual care and support dedicated to each and every customer to provide highly customized security services according to their needs. As we are one of the security service providers in Bangalore, our company has the strong presence in the entire South India with the operations of more than 25 cities. Our clients always trust us because of our top range of organizational and industrial security services at every moment to lead their businesses. 
                </p>

                <h3>Security Guard Service for Retail Business Premises:</h3>
                <p>
                    We are one of the leading security service providers for all the businesses and industries in Bangalore. In order to reduce the problems of fast changing business requirements and to increase the industrial production and activity, we provide you a highly advanced range of professional security services for the growth of your organization. Our company Warrior Securitas was long back incorporated in the security field and now we got a position of one of the best security companies in Bangalore.
                </p>
            </div>

            <div class="hr-invisible-medium"></div>
            <div class="column dt-sc-one-third first">
                <div class="dt-sc-ico-content type3 animate" data-delay="100" data-animation="animated fadeIn">
                    <div class="icon">
                        <img src="<%= asset_url('1.jpg') %>" alt="" title="" /> 
                    </div>
                    <h3>
                        <a target="_blank" href="#"> Retail Business Premises </a>
                    </h3>
                </div>    
            </div>
            <div class="column dt-sc-one-third">
                <div class="dt-sc-ico-content type3 animate" data-delay="300" data-animation="animated fadeIn">
                    <div class="icon">   
                        <img src="<%= asset_url('2.jpg') %>" alt="" title="" />                
                    </div>
                    <h3>
                        <a target="_blank" href="#"> Hotels </a>
                    </h3>
                </div>
            </div>
            <div class="column dt-sc-one-third">
                <div class="dt-sc-ico-content type3 animate" data-delay="500" data-animation="animated fadeIn">
                    <div class="icon">    
                        <img src="<%= asset_url('3.jpg') %>" alt="" title="" />
                    </div>
                    <h3>
                        <a target="_blank" href="#"> Schools/Educational Institutions </a>
                    </h3>                           
                </div>
            </div>
            <div class="hr-invisible-medium"></div>
            <div class="column dt-sc-one-third first">
                <div class="dt-sc-ico-content type3 animate" data-delay="100" data-animation="animated fadeIn">
                    <div class="icon">
                        <img src="<%= asset_url('4.jpg') %>" alt="" title="" /> 
                    </div>
                    <h3>
                        <a target="_blank" href="#"> Apartments </a>
                    </h3>
                </div>    
            </div>
            <div class="column dt-sc-one-third">
                <div class="dt-sc-ico-content type3 animate" data-delay="300" data-animation="animated fadeIn">
                    <div class="icon">   
                        <img src="<%= asset_url('5.jpg') %>" alt="" title="" />                
                    </div>
                    <h3>
                        <a target="_blank" href="#"> Residences  </a>
                    </h3>
                </div>
            </div>
            <div class="column dt-sc-one-third">
                <div class="dt-sc-ico-content type3 animate" data-delay="500" data-animation="animated fadeIn">
                    <div class="icon">    
                        <img src="<%= asset_url('6.jpg') %>" alt="" title="" />
                    </div>
                    <h3>
                        <a target="_blank" href="#"> Construction Sites </a>
                    </h3>                           
                </div>
            </div>
            <div class="hr-invisible-medium"></div>
            <div class="column dt-sc-one-third first">
                <div class="dt-sc-ico-content type3 animate" data-delay="100" data-animation="animated fadeIn">
                    <div class="icon">
                        <img src="<%= asset_url('7.jpg') %>" alt="" title="" /> 
                    </div>
                    <h3>
                        <a target="_blank" href="#"> Factories/Industries </a>
                    </h3>
                </div>    
            </div>
            <div class="column dt-sc-one-third">
                <div class="dt-sc-ico-content type3 animate" data-delay="300" data-animation="animated fadeIn">
                    <div class="icon">   
                        <img src="<%= asset_url('8.jpg') %>" alt="" title="" />                
                    </div>
                    <h3>
                        <a target="_blank" href="#"> Hospitals </a>
                    </h3>
                </div>
            </div>
            <div class="column dt-sc-one-third">
                <div class="dt-sc-ico-content type3 animate" data-delay="500" data-animation="animated fadeIn">
                    <div class="icon">    
                        <img src="<%= asset_url('9.jpg') %>" alt="" title="" />
                    </div>
                    <h3>
                        <a target="_blank" href="#"> Shopping Malls </a>
                    </h3>                           
                </div>
            </div>
            <div class="hr-invisible-medium"></div>

        </div>                            
    </div>
</div>
            <div class="hr-invisible-medium"></div>
