<!-- 
<p id="notice"><%= notice %></p>

<h1>Listing Abouts</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Image</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>

    <% @abouts.each do |about| %>
    <tr>
      <td><%= about.title %></td>
      <td><%= about.description %></td>
      <td><%= about.image %></td>
      <td><%#= link_to 'Show', about %></td>
      <td><%#= link_to 'Edit', edit_about_path(about) %></td>
      <td><%#= link_to 'Destroy', about, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>

  </tbody>
</table>

<br>

<%#= link_to 'New About', new_about_path %>




 -->




 <div id="main"><!-- Main  -->
  <section class="fullwidth-background">
    <div class="breadcrumb-wrapper">
            <div class="container">
               <div class="breadcrumb">
                  <a href="index.html">Home</a>
                    <span class="fa fa-angle-right"> </span>
                    <h4>About Us</h4>
                    <h5 class="breadcrumb-title">About Us</h5>
               </div> 
            </div>
        </div>
    </section>
    <div class="hr-invisible"></div>
    <div class="clear"></div>
    <section id="primary" class="content-full-width">
      <div class="container">
          <h2 class="border-title aligncenter">
                About Us
            </h2>
            <div class="column dt-sc-one-half first">
                <p>
                 We are one of the leading private security agencies in Bangalore. We also list in top 20 best security agency in Bangalore. We provide Commercial security services, Apartment security guard services, residential security guards, school security services, security services for hotels, security services for hospital, Industrial security services, security services for factory, security services for jewelry showrooms. 
                </p>
                <p>
                    BlackStone Security is a leading security services company/agency offering security services in Marathalli, Whitefield, Bellandur, Jayanagar, JP Nagar and across Bangalore areas.
                </p>

                <p>
                    We are one of the most trusted names in Security Services industry in Bangalore. Our service expertise includes security service for Hotels, security service for Schools and Apartment security guard service…
                </p>
                <p>
                    BlackStone Security is top security services Company/Agency in Bangalore offering security service for Hotels, security service for Schools and security guard service for Apartments…
                </p>
            </div>
            <div class="column dt-sc-one-half">                     
                <img src="<%= asset_url('mall.jpg') %>" alt="" title="" class="dt-sc-border-radius"/>                        
            </div>
        </div>

        <div class="hr-invisible"></div>
        <div class="fullwidth-section dt-sc-parallax-section dt-sc-work-parallax">
          <div class="fullwidth-bg">
                <div class="container">
            <div class="hr-invisible"></div>
            <div class="clear"></div>
            <h2 class="border-title aligncenter animate" data-delay="100" data-animation="animated fadeInDown">
                Why People Choose Us?
            </h2> 
            <div class="column dt-sc-one-half first animate" data-delay="100" data-animation="animated fadeInLeft">
                <h3 class="border-title">
                    Our Mission
                </h3> 
                <div class="dt-sc-toggle-frame-set">
                    <div class="dt-sc-frame">
                        <div class="dt-sc-content">
                            <p>
                                To extend our value-added security services to quality-conscious clients who consider security an equal important subject by making security services as a very organized business services.
                            </p>

                            <p>
                                we want to give you a flavor of BlackStone’s character as a company, an overview of the way we do business with our clients, and how we select and develop our people. 
                            </p>
                            <p>
                                We make our clients feel secure, valued, and part of the BlackStone Security team. It is feature of the way we do business that our Ex-servicemen personnel take personal responsibility for our clients, their requirements, and the business relationships. 
                            </p>
                            <p>
                                Since BlackStone Security was founded, we’ve been privileged to act as the guardians. We understand our client’s needs and challenges and deliver, time and time again. We are constantly striving to raise the industry’s standards and transforming security services from unorganized to organized business services.  
                            </p>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column dt-sc-one-half animate" data-delay="100" data-animation="animated fadeInRight">                  
                <div class="dt-sc-tabs-container">
                    <h3 class="border-title">
                        BUSINESS PRINCIPLES 
                    </h3>
                    <div class="clear"></div>
                    <div class="dt-sc-tabs-frame">
                        <p>
                            These principles guide our business strategies, our ethical behaviour, and our relationships with customers, communities, and each other. 
                        </p>
                        <p>
                            BlackStone Security offers a wide variety of security services(need to change this content for SEO??) to Corporates, Hotels and Restaurants, Schools, Construction sites, Retail facilities, Hospitals, Apartments, Residences, and Shopping Malls. 
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="hr-invisible"></div>
        <div class="clear"></div>
        <div class="hr-invisible"></div>

        
