<div id="main">
   <!-- Main  -->
   <!-- **Slider Section** -->
   <div id="z-homeslider" class="carousel z-homeslider-section-s"  data-pause="hover" data-interval="5000" data-duration="2000">

    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#z-homeslider" data-slide-to="0" class="active"></li>
      <li data-target="#z-homeslider" data-slide-to="1"></li>
      <li data-target="#z-homeslider" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <img src="<%= asset_url("slider1.jpg")%>" />
        <div class="z-homeslider-Wrapper">
          <h2 class="animated zoomInLeft">Our Values</h2>
          <h3 class="animated zoomInLeft">Vigilance. Integrity. Service Excellence.   <br /> One Team. Innovative. Nurturing.</h3>
          <!-- <a href="#" class="animated zoomInLeft">read more</a> -->
        </div>
      </div>
      <div class="item">
        <img src="<%= asset_url("slider2.jpg")%>"  />
        <div class="z-homeslider-Wrapper">
          <h2 class="animated zoomInLeft">Followed</h2>
          <h3 class="animated zoomInLeft">Utmost Ethical practices</<h3>
          <!-- <a href="#" class="animated zoomInLeft">read more</a> -->
        </div>
      </div>
      <div class="item">
        <img src="<%= asset_url("slider1.jpg")%>" />
        <div class="z-homeslider-Wrapper">
          <h1 class="animated zoomInLeft"></h1>
          <h2 class="animated zoomInLeft">Well-trained </h2>
          <h3 class="animated zoomInLeft">security personnel</h3>
          <!-- <a href="#" class="animated zoomInLeft">read more</a> -->
        </div>
      </div>
    </div>
  </div>
   <!-- **Slider Section - End** -->
   <div class="clear"></div>
   <div class="hr-invisible" id="about"></div>

   <div class="container z-about">
   <% @abouts.where(title: :OurMission).each do |about| %>
      <div class="row" id="about">
        <h3 class="border-title">
          <%= about.title %>
        </h3> 
        <div class="col-md-6 animate" data-delay="100" data-animation="animated fadeInLeft">
            <div class="dt-sc-toggle-frame-set">
                <div class="dt-sc-frame">
                    <div class="dt-sc-content" style="text-align: justify;">
                        <p>
                            <%= about.description %>
                        </p>
                        <br/>
                        <br/>
                        <% if user_signed_in? %>
                        <%= link_to "Edit", edit_about_path(about),class: "z-back" %>
                        <%= link_to "Delete", about_path(about), method: :delete, data: { confirm: 'Are you sure?' },class: "z-back" %>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6 animate" data-delay="100" data-animation="animated fadeInLeft">
            <div class="dt-sc-toggle-frame-set">
                <div class="dt-sc-frame">
                    <div class="dt-sc-content">
                        <%= image_tag about.image.url, alt: "", class: "img-responsive"%>
                    </div>
                </div>
            </div>
        </div>
     </div>
   <% end %>

   <% @abouts.where(title: :BusinessPrinciples).each do |about| %>
      <div class="row">
         <h3 class="border-title">
                <%= about.title %>
            </h3> 
        <div class="col-md-6 animate" data-delay="100" data-animation="animated fadeInLeft">
            <div class="dt-sc-toggle-frame-set">
                <div class="dt-sc-frame">
                    <div class="dt-sc-content">
                        <%= image_tag about.image.url, alt: "", class: "img-responsive"%>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 animate" data-delay="100" data-animation="animated fadeInLeft">
            <div class="dt-sc-toggle-frame-set">
                <div class="dt-sc-frame">
                    <div class="dt-sc-content" style="text-align: justify;">
                        <p>
                            <%= about.description %>
                        </p>
                        <br/>
                        <br/>
                        <% if user_signed_in? %>
                        <%= link_to "Edit", edit_about_path(about),class: "z-back" %>
                        <%= link_to "Delete", about_path(about), method: :delete, data: { confirm: 'Are you sure?' },class: "z-back" %>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
     </div>
     <% end %>
  </div>
  <div class="clear"></div>
   <div class="hr-invisible"></div>

   <div class="fullwidth-section dt-sc-parallax-section dt-sc-counters">
      <div class="fullwidth-bg">
         <div class="container">
            <div class="hr-invisible"></div>
            <div class="hr-invisible-very-very-small"></div>
            <div class="column dt-sc-one-fourth first animate" data-delay="100" data-animation="animated fadeIn">
               <div class="dt-sc-counter">
                  <div class="counter-effect"></div>
                  <div class="dt-sc-counter-number">
                     <p data-value="12">40</p>
                     <span>+</span>
                  </div>
                  <h5> Projects </h5>
               </div>
            </div>
            <div class="column dt-sc-one-fourth animate" data-delay="300" data-animation="animated fadeIn">
               <div class="dt-sc-counter">
                  <div class="counter-effect"></div>
                  <div class="dt-sc-counter-number">
                     <p data-value="65">95</p>
                     <span>%</span>
                  </div>
                  <h5> Happy Customers </h5>
               </div>
            </div>
            <div class="column dt-sc-one-fourth animate" data-delay="500" data-animation="animated fadeIn">
               <div class="dt-sc-counter">
                  <div class="counter-effect"></div>
                  <div class="dt-sc-counter-number">
                     <p data-value="451">95</p>
                     <span>+</span>
                  </div>
                  <h5> Positive Feedbacks </h5>
               </div>
            </div>
            <div class="column dt-sc-one-fourth animate" data-delay="700" data-animation="animated fadeIn">
               <div class="dt-sc-counter">
                  <div class="counter-effect"></div>
                  <div class="dt-sc-counter-number">
                     <p data-value="100">60</p>
                     <span>%</span>
                  </div>
                  <h5> Repeat Clients </h5>
               </div>
            </div>
            <div class="hr-invisible"></div>
         </div>
      </div>
   </div>
   <div class="clear"></div>
   
   <div class="hr-invisible"  id="services"></div>
   

   <div class="fullwidth-section dt-service-hme">
      <div class="container">
         <h2 class="border-title aligncenter animate" data-delay="100" data-animation="animated fadeInDown">
            Our Services
         </h2>

         <% Service.all.each do |service|%>
         <div class="column dt-sc-one-third first animate" data-delay="100" data-animation="animated fadeIn">
            <div class="dt-sc-service type1">
               <h4 style="color: #3cf5f3;"><%= service.title%></h4>
               <figure class="gallery-thumb">
                  <%= link_to service_path(service)  do%>
                  <%= image_tag service.image.url(:medium), alt: "", class: "attachment-gallery-with-shape first-img"%>
                  <%= image_tag service.image.url(:medium), alt: "", class: "attachment-gallery-with-shape second-img"%>
                  <% end %>
               </figure>
               <div class="gallery-details">
                  <p><%= service.short_description %></p>
                  <%= link_to "Read More", service_path(service), style: 'color: #3dfbfa' %>
               </div>
            </div>
         </div>
         <% end %>
      </div>
      <% if user_signed_in? %>
            <%= link_to 'New Service', new_service_path, class: "z-back pull-right" %>
            <% end %>
   </div>
   <div class="clear"></div>
  <div class="hr-invisible" id="testimonials"></div>
   
   <div class="fullwidth-section dt-sc-parallax-section dt-sc-client-testimonial">
      <div class="fullwidth-bg">
         <div class="container">
            <div class="hr-invisible"></div>
            <h2 class="border-title aligncenter animate" data-delay="100" data-animation="animated fadeInDown">
              TESTIMONIALS
           </h2>
           <div class="dt-sc-testimonial-carousel-wrapper">
            <ul class="dt-sc-testimonial-carousel">
               <% Testimonial.all.each do |testominal|%>
               <li>
                  <div class="dt-sc-testimonial">
                     <blockquote>
                        <q>
                           <%= testominal.description %>
                        </q>
                     </blockquote>
                     <div class="author">
                        <span class="hexagon2"></span> 
                        <div class="hexagon-image">
                           <div class="hexagon-in1">
                              <div class="hexagon-in2 founder-image img1">
                                 <%= image_tag testominal.image.url, alt: ""%>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="author-detail">
                        <%= testominal.name %>  <span> <%= testominal.place %> </span>
                        <% if user_signed_in? %>
                        <%#= link_to "New", new_testimonial_path(testominal), class: "btn btn-success z-btn"%>
                        <%= link_to "Edit", edit_testimonial_path(testominal), class: "btn btn-success z-btn" %>
                        <%= link_to "Delete", testimonial_path(testominal), class: "btn btn-danger z-btn", method: :delete, data: { confirm: 'Are you sure?' } %>
                        <% end %>
                     </div>
                  </div>
               </li>
               <% end %>
            </ul>
         </div>
         <div class="hr-invisible"></div>
      </div>
      <% if user_signed_in? %>
            <%= link_to 'New Testimonial', new_testimonial_path, class: "z-back pull-right" %>
            <% end %>
   </div>
</div>
<div class="clear"></div>
<div class="hr-invisible"></div>
<div class="container">
      <div class="column dt-sc-one-third first animate" data-delay="100" data-animation="animated fadeIn">
         <div class="dt-sc-ico-content type1">
            <div class="icon">
               <span class="hexagon">
                  <span class="corner1"></span>
                  <span class="corner2"></span>    
                  <img src="<%= asset_url('icon-img4.png') %>" alt="" title="" />                 
                  <span class="hexagon2"></span> 
               </span>           
            </div>
            <h3>
               <a target="_blank" href="#"> 100% satisfication </a>
            </h3>
         </div>
      </div>
      <div class="column dt-sc-one-third animate" data-delay="300" data-animation="animated fadeIn">
         <div class="dt-sc-ico-content type1">
            <div class="icon">
               <span class="hexagon">
                  <span class="corner1"></span>
                  <span class="corner2"></span>
                  <img src="<%= asset_url('icon-img1.png')%>" alt="" title="" />  
                  <span class="hexagon2"></span>                
               </span>           
            </div>
            <h3>
               <a target="_blank" href="#"> QUALIFIED STAFFS </a>
            </h3>
         </div>
      </div>
      <div class="column dt-sc-one-third animate" data-delay="500" data-animation="animated fadeIn">
         <div class="dt-sc-ico-content type1">
            <div class="icon">
               <span class="hexagon">
                  <span class="corner1"></span>
                  <span class="corner2"></span>    
                  <img src="<%= asset_url('icon-img5.png')%>" alt="" title="" />   
                  <span class="hexagon2"></span>             
               </span>           
            </div>
            <h3>
               <a target="_blank" href="#"> Awesome Services </a>
            </h3>
         </div>
      </div>
   </div>
   <div class="claer"></div>
<div class="hr-invisible" id="contact"></div>

<div class="fullwidth-section dt-sc-center">
   <h2 class="border-title aligncenter align animate" data-delay="100" data-animation="animated fadeInDown">
      Make a special Appointment
   </h2>
   <div class="container">
      <%= form_tag("/contacts", method: "post") do %>
      <div class="column dt-sc-one-half first animate" data-delay="100" data-animation="animated fadeIn">
         <p>
            <input type="text" name="username" placeholder="Your Name (required)" required/> </p>
            <p><input type="email" name="txtemail" placeholder="Email (required)" required/></p>
         </div>
         <div class="column dt-sc-one-half animate" data-delay="300" data-animation="animated fadeIn">
            <p><input type="number" required name="txtname" placeholder="Your Phone (required)"/></p>
            <p><input id="datepicker" type="date" placeholder="Date of Appointment" value="" name="datepicker" required><span class="icon-date-picker fa fa-calendar"></span></p>
         </div>
         <div class="column dt-sc-one-column animate" data-delay="500" data-animation="animated fadeIn">
            <p><textarea class="message" required rows="10" placeholder="Comments(required)" cols="5" name="txtmessage"></textarea></p>
         </div> 

         <ul class="phone">
            <li><i class="fa fa-mobile-phone"></i>
               (03) 1234 5678
            </li>
            <li><i class="fa fa-envelope-o"></i>
               <a href="mailto:yourname@somemail.com">neocut@gmail.com</a>
            </li>
         </ul>
         <div class="form-row aligncenter">
            <input type="submit" value="submit" name="submit">
         </div>
         <% end %>
         <div id="ajax_contactform_msg"> </div>
      </div>
      <div class="dt-sc-ico-content type1 select">
         <div class="icon">
            <span class="hexagon">
               <span class="corner1"></span>
               <span class="corner2"></span>
               <img src="<%= asset_url ('logo.png') %>" style="width: 90px;" alt="" title="" />
               <span class="hexagon1">
                  <span class="corner1"></span>
                  <span class="corner2"></span>
               </span>
            </span>
         </div>
      </div>
      <div class="news-letter center">
         <div class="subscribe-form">
            <div class="alignleft">
               <h2>Subscribe your <span>News letter</span></h2>
               <p>you can unsubscribe any time you want</p>
            </div>
            <div class="alignright">
               <form class="subscribe-frm" method="post" name="frmnewsletter" action="php/subscribe.php">
                  <input type="email" placeholder="Enter email" required value="" name="mc_email" >
                  <input class="dt-sc-button small" type="submit" value="Send" name="submit">
               </form>
               <div id="ajax_subscribe_msg"></div>
            </div>
         </div>
      </div>
   </div>
   <div class="clear"></div>
   <div class="hr-invisible"></div>
   <div class="hr-invisible-small"></div>
</div>