
<div id="main"><!-- Main  -->
  <section class="fullwidth-background">
    <div class="breadcrumb-wrapper">
      <div class="container">
       <div class="breadcrumb">
        <%= link_to root_path do%>Home<% end %>
        <span class="fa fa-angle-right"> </span>
        <h4>About Us</h4>
        <h5 class="breadcrumb-title">About Us</h5>
      </div>
    </div>
  </div>
</section>
<div class="hr-invisible"></div>
<div class="clear"></div>

<% if user_signed_in? %>
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <%= link_to "Create New About", new_about_path, class: "z-back"%>
      </div>
    </div>
  </div>
<% end %>

<section id="primary" class="content-full-width">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <% @abouts.where(title: :About).each do |about| %>
          <h3 class="border-title animate" data-delay="100" data-animation="animated fadeInDown">
            <%= about.title %>
          </h3>
          <p>
           <%= raw about.description %>
          </p>
          <% if user_signed_in? %>
            <%= link_to "Edit", edit_about_path(about),class: "z-back" %>
            <%= link_to "Delete", about_path(about), method: :delete, data: { confirm: 'Are you sure?' },class: "z-back" %>
          <% end %>
        <% end %>
    </div>


    <div class="col-md-12">
      <% @abouts.where(:title => "Mission").each do |about| %>
        <h3 class="border-title animate" data-delay="100" data-animation="animated fadeInDown">
          <%= about.title %>
        </h3>
        <%= raw about.description %>
        <% if user_signed_in? %>
        <%= link_to "Edit", edit_about_path(about),class: "z-back" %>
        <%= link_to "Delete", about_path(about), method: :delete, data: { confirm: 'Are you sure?' },class: "z-back" %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
</section>


<div class="hr-invisible"></div>
<div class="fullwidth-section dt-sc-parallax-section dt-sc-work-parallax">
  <div class="fullwidth-bg">
    <div class="container">
      <div class="hr-invisible" id="whyus"></div>
      <div class="clear"></div>
      <h2 class="border-title aligncenter animate" data-delay="100" data-animation="animated fadeInDown">
        Why People Choose Us?
      </h2>
      <% @abouts.where(:title => "Why Us").each do |about| %>
      <div class="col-md-12 first animate" data-delay="100" data-animation="animated fadeInLeft">
        <h3 class="border-title">
          <%= about.title %>
        </h3> 
        <div class="dt-sc-toggle-frame-set">
          <div class="dt-sc-frame">
            <div class="dt-sc-content" style="color: #fff;">
              <p class="whyus">
                <%= raw about.description %>
              </p>
              <br/>
              <br/>
              <% if user_signed_in? %>
              <%= link_to "Edit", edit_about_path(about),class: "z-back" %>
              <%= link_to "Delete", about_path(about), method: :delete, data: { confirm: 'Are you sure?' },class: "z-back" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <% end %>
    </div>
    <div class="hr-invisible"></div>
    <div class="clear"></div>
    <div class="hr-invisible"></div>


    <style>
      .whyus ul li {
        list-style: disc;
      }
    </style>