<%= simple_form_for(@gallery) do |f| %>
  <%= f.error_notification %>

	<div class="field">
    <%= f.label :title, class: "seooption" %><br>
    <%= f.text_field :title %>
  </div>

  <div class="form-inputs">
  	<%= f.label :image, class: "seooption" %><br>
    <%= f.file_field :images, multiple: true %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: "btn btn-default" %>
  </div>
<% end %>
