
<div class="container" style="margin-top: 230px;">
  <% if user_signed_in? %>
      <%= link_to 'New Gallery', new_gallery_path, class: "btn btn-default" %>
  <% end %>
    <div id="main_area">
        <!-- Slider -->
        <div class="row">
            <div class="col-sm-12" id="slider-thumbs">
                <!-- Bottom switcher of slider -->
                <ul class="hide-bullets">
                  <% @galleries.each do |gallery| %>
                    <li class="col-sm-4">
                        <%= link_to class: "thumbnail", id: "carousel-selector-0" do%>
                        <%= image_tag gallery.image.url %>
                         <h3 style="color: #3dfbfa"><%= gallery.title %></h3>
                        <% end %>
                        <br>
                        <br>
                        <% if user_signed_in? %>
                        <%= link_to 'Edit', edit_gallery_path(gallery),style: 'color: #3dfbfa' %>
                        <%= link_to 'Destroy', gallery, method: :delete, data: { confirm: 'Are you sure?' }, style: 'color: #3dfbfa' %>
                        <% end %>
                    </li>
                    <% end %>
                </ul>
            </div>
            <!--/Slider-->
        </div>

    </div>
</div>


