<%= form_for(@testimonial) do |f| %>
  <% if @testimonial.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@testimonial.errors.count, "error") %> prohibited this testimonial from being saved:</h2>

      <ul>
      <% @testimonial.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, class: "z-service" %><br>
    <%= f.text_field :name %>
  </div>
  <br>
  <div class="field">
    <%= f.label :description, class: "z-service" %><br>
    <%= f.cktext_area :description %>
  </div>
  <br>
  <div class="field">
    <%= f.label :image, class: "z-service" %><br>
    <%= f.file_field :image %>
  </div>
  <br>
  <div class="field">
    <%= f.label :place, class: "z-service" %><br>
    <%= f.text_field :place %>
  </div>
  <br>
  <div class="actions z-newservice">
    <%= f.submit style: " color: #fff;" %>
  </div>
<% end %>
