<div class="container" style="padding: 50px;margin-top: 90px;">
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @testimonial.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @testimonial.description %>
</p>

<p>
  <strong>Image:</strong>
  <%= image_tag @testimonial.image.url %>
</p>

<p>
  <strong>Place:</strong>
  <%= @testimonial.place %>
</p>
<br/>
<br/>
<br/>
<%= link_to 'Edit', edit_testimonial_path(@testimonial), class: "z-back" %> 

<%= link_to 'Back', root_path, class: "z-back" %>
</div>