<%= simple_form_for(@seo_option) do |f| %>
<%= f.error_notification %>
<section>
  <div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title seooption">General SEO Options</h3>
        </div>
        <div class="box-body">
          <div class="form-inputs seooption">
            <%= f.input :title %>
          </div>
          <div class="form-inputs seooption">
            <%= f.input :description %>
          </div>
          <div class="form-inputs seooption">
            <%= f.input :keywords %>
          </div>
        </div>
      </div>
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title seooption">Twitter</h3>
        </div>
        <div class="box-body">
          <div class="form-inputs seooption">
            <%= f.input :twitter_title %>
          </div>
          <div class="form-inputs seooption">
            <%= f.input :twitter_description %>
          </div>
          <div class="form-inputs seooption">
            <%= f.input :twitter_image %>
          </div>
          <div class="form-inputs seooption">
            <%= f.input :twitter_handle %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title seooption">Facebook</h3>
        </div>
        <div class="box-body">
          <div class="form-inputs seooption">
            <%= f.input :facebook_title %>
          </div>
          <div class="form-inputs seooption">
            <%= f.input :facebook_description %>
          </div>
          <div class="form-inputs seooption">
            <%#= f.input :facebook_image %>
          </div>
        </div>
      </div>
    </div>

<div class="col-md-12">
<div class="box box-success">
  <div class="box-body">
  <div class="form-actions">
    <%= f.button :submit, class: "seooption" %>
    <%= link_to 'Back', "", class: "btn btn-default pull-right" %>
  </div>
</div>
</div>
</div>
</div>
</section>
<% end %>
