<header id="header" class="type1">
  <div class="header">
    <div class="container">
      <div class="col-xs-12 col-sm-6">
        <div id="logo">
          <h3>
            <%= link_to root_path do%>
            <%= image_tag("logo.png", alt: "blackstone security logo") %>
            <span class=""> BLACKSTONE</span><br> 
            <h5 class="alter_color" style="margin-left: 45px;margin-top: -13px;">
            SECURITY SERVICES</h5>
            <% end %>
          </h3>
        </div>
            </div>
            <div class="col-xs-10 col-sm-3 col-sm-offset-3 text-center phone-details">
                <p class="text-blue text-uppercase z-text" style="margin-top: 20px;">Contact - 24/7</p>

                <h4 class="phone-no">
                    <a href="tel:9898090206" class="InfinityNumber12591 z-text"> 080 2668 1440</a><br />
                    <a href="tel:9898090206" class="InfinityNumber12591 z-text">+91 9898 090206</a>
                </h4>
            </div>

            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="mobile-toggle col-xs-2 col-sm-1">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".js-collapse-target" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
        </div>
    </div>


 <div class="container-fluid">
  <div class="main-menu-container">
   <div class="main-menu">
    <div id="primary-menu">
     <div class="dt-menu-toggle" id="dt-menu-toggle">Menu<span class="dt-menu-toggle-icon"></span></div>
     <nav id="main-menu">
      <ul class="menu smooth-scroll ">
       <li class="current_page_item menu-item-simple-parent">
        <%= link_to root_path do %>Home<% end %>
      </li>
      <li class="menu-item-simple-parent">
          <%= link_to  "About Us", abouts_path, class: "js-scroll-trigger" %>
    </li>
      <li class="dropdown menu-item-simple-parent">
       <%= link_to root_path(anchor: "services"), class: "js-scroll-trigger" do%>Services<% end %>
     </li>
     <li class="menu-item-simple-parent">
      <%= link_to "Testimonials", root_path(anchor: "testimonials"), class: "js-scroll-trigger" %>
    </li>
     <li class="menu-item-simple-parent">
      <%= link_to "Clients", testimonials_path, class: "js-scroll-trigger" %>
    </li>
    <li class="menu-item-simple-parent">
      <%= link_to "Contact Us", root_path(anchor: "contact"), class: "js-scroll-trigger" %>
    </li>
    <li class="menu-item-simple-parent">
      <%= link_to  "Gallery", galleries_path, class: "js-scroll-trigger" %>
    </li>
    <% if  user_signed_in? %>
    <li class="menu-item-simple-parent">
      <%= link_to "Leads", contacts_path %>
    </li>
    <li class="menu-item-simple-parent">
     <%= link_to 'Logout', destroy_user_session_path, :method => :delete  %>
   </li>
   <% end %>
 </ul>
</nav>
</div>
</div>
</div>
</div>
</header>