<header id="header" class="type1">
 <div class="container-fluid">
  <div class="main-menu-container">
   <div class="main-menu">
    <div id="logo">
      <h2>
        <%= link_to root_path do%>
        <%= image_tag("logo.png", alt: "blackstone security logo") %><span><span class="alter_color"> BLACKSTONE</span> SECURITY</span>
        <% end %>
      </h2>
    </div>
    <div id="primary-menu">
     <div class="dt-menu-toggle" id="dt-menu-toggle">Menu<span class="dt-menu-toggle-icon"></span></div>
     <nav id="main-menu">
      <ul class="menu smooth-scroll ">
       <li class="current_page_item menu-item-simple-parent">
        <%= link_to root_path do %>Home<% end %>
      </li>
      <li class="menu-item-simple-parent">
          <%= link_to  "About Us", abouts_path, class: "js-scroll-trigger" %>
    </li>
      <li class="dropdown menu-item-simple-parent">
       <%= link_to root_path(anchor: "services"), class: "js-scroll-trigger" do%>Services<% end %>
     </li>
     <li class="menu-item-simple-parent">
      <%= link_to "Testimonials", root_path(anchor: "testimonials"), class: "js-scroll-trigger" %>
    </li>
     <li class="menu-item-simple-parent">
      <%= link_to "Clients", testimonials_path, class: "js-scroll-trigger" %>
    </li>
    <li class="menu-item-simple-parent">
      <%= link_to "Contact Us", root_path(anchor: "contact"), class: "js-scroll-trigger" %>
    </li>
    <li class="menu-item-simple-parent">
      <%= link_to  "Gallery", galleries_path, class: "js-scroll-trigger" %>
    </li>
    <% if  user_signed_in? %>
    <li class="menu-item-simple-parent">
      <%= link_to "Leads", contacts_path %>
    </li>
    <li class="menu-item-simple-parent">
     <%= link_to 'Logout', destroy_user_session_path, :method => :delete  %>
   </li>
   <% end %>
 </ul>
</nav>
</div>
</div>
</div>
</div>
</header>